<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxP7Uj9gpD_zF7uDQDMrvWcyhZWb1S6Fc</string>
	<key>GCM_SENDER_ID</key>
	<string>199812080711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.upsaclay.gedoise</string>
	<key>PROJECT_ID</key>
	<string>grande-ecole-du-droit-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>grande-ecole-du-droit-staging.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199812080711:ios:8a3b2cb7b4bead5fba3d62</string>
</dict>
</plist>